# Dev credentials for in-memory authentication
PHARMACY_SUPERADMIN_USERNAME=superadmin
PHARMACY_SUPERADMIN_PASSWORD=SuperAdmin123!
PHARMACY_ADMIN_USERNAME=admin
PHARMACY_ADMIN_PASSWORD=Admin123!

# PostgreSQL database connection
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:8081/pharmacy-management
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password
