# Dev credentials for in-memory authentication
PHARMACY_SUPERADMIN_USERNAME=
PHARMACY_SUPERADMIN_PASSWORD=
PHARMACY_ADMIN_USERNAME=
PHARMACY_ADMIN_PASSWORD=

# PostgreSQL database connection
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/pharmacy-management-db
SPRING_DATASOURCE_USERNAME=postgres username
SPRING_DATASOURCE_PASSWORD=your_password
